body {
	background: #fff;
	width: 85rem;
	height: 100%;
	margin: 0 auto;
	outline: 1px solid black;
}

.container {
	background: #454D56;
	border-radius: 1px;
	box-shadow: 0 10px 15px rgba(165, 14, 14, 0.1);
	padding: 3rem;
	width: 80rem;
	height: inherit;
	margin: 2rem auto;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.header h2 {
	font-size: 3rem;
	color: #fff;
	font-weight: 700;
}

.header p {
	color: #babfc6;
	font-size: 1.2rem;
}

.choice {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem auto;
	font-size: 1.6rem;
}

.btn {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
	padding: 2rem;
	background-color: #12b5ee;
	border: 2px solid #ffffff;
	cursor: pointer;
	margin: 1rem;
	gap: 5px;
	font-size: 1.4rem;
}

.choice-heading {
	font-size: 1.8rem;
}

.btn:hover {
	background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
	border: none;
}

/* personal information styling */

.personal-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	font-size: 1.4rem;
	margin: 1rem;
}

.info-heading h4 {
	border-bottom: 2px solid #12b5ee;
	padding: 1rem 0;
	margin: 1rem;
	font-size: 1.6rem;
	
}

.personal-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	gap: 1.5rem;
	margin-top: 2rem;
}

.personal-info input {
	display: block;
	width: 20rem;
	padding: 5px;
	margin: 5px;
	border: none;
	outline: none;
	background: none;
	border-bottom: 1px solid #80878f;
}

.select__where select {
	border: 1px solid #12b5ee;
	color: inherit;
	background-color: #454D56;
	color: i;
}

/* skills and location css style */

.skill {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	padding: 1rem 0;
}

.descipline p {
	color: #ffffff;
	font-size: 1.2rem;
	font-weight: 700;
	margin: 1rem;
}

.design-btn {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 75rem;
	padding: 1rem;
	background-color: #454D56;
	cursor: pointer;
	gap: 1rem;
	font-size: 1.4rem;
}

.design-btn button {
	background-color: #12b5ee;
	border: 1px solid #ffffff;
	padding: 1rem;
}


.design-btn button:hover {
	background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
	border: none;
}

.exp-place {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 1rem;
	font-size: 1.2rem;
	
}
.experience{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1rem;
	
}
.place {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1rem;
	margin-top: 1rem;
}
.place legend{
	margin-top: 2rem;
}






/* portfolio section css style */

/*.portfolio-header {
	border-bottom: 2px solid #12b5ee;
	padding: 1rem 0;
	margin: 1rem 0;
	font-size: 1.6rem;
	width: 100%;
	color: #ffffff;
	font-weight: 700;
}*/

.portfolio p {
	font-size: 1.2rem;
	margin: 1rem 1rem;
}

.port-link {
	margin: 4rem 1rem;
}

.port-link input {
	width: 100%;
	padding: 1rem 0;
	margin: 1rem 0;
	border: none;
	outline: none;
	background: none;
	border-bottom: 1px solid #80878f;
}

.port-link label {
	font-size: 1.2rem;
	color: #80878f;
	font-weight: 700;
	margin: 2rem 0;
	padding: 2rem 0;
}

.port-link label span {
	color: #80878f;
}

.text-area {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 10px;
	margin: 10px 10px;
	padding: 10px 0;
}

.text-area textarea {
	width: 100%;
	height: 100px;
	margin: 10px 0;
	border: 1px solid #80878f;
	background: #454D56;
	color: #80878f;
}

.submit-btn {
	width: 130px;
	padding: 10px 20px;
	margin: 10px 0;
	background-color: #12b5ee;
	color: #ffffff;
	font-weight: 700;
	font-size: 1.4rem;
}

.submit-btn:hover,
.submit-btn:active {
	background-color: #cf711f;
}